<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm5dof">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import arm5dof urdf file -->
    <xacro:include filename="$(find arm5dof_description)/urdf/arm5dof.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="arm5dof.ros2_control.xacro" />


    <xacro:arm5dof_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
